<% include ../head %>
<script >
function renzheng(){
  $('#main').load('/home/renzheng.html');
}
</script>
 <div class="row">
	      <div class="col-sm-1 "></div>
	      <div class="col-sm-2 " 
	      >
	        <table align="center" height='240' >
               <tr>
                  <td>消息</td>
               </tr>
               <tr>
                  <td><a href="#" onclick="renzheng()">身份认证</a></td>
               </tr>
	        </table>
	      </div>
	      <div class="col-sm-7" id='main'>
	      </div>
	      <div class="col-sm-1">
	     
	      </div>
	      
	    </div>        
</body>
</html>